<div class="landing-page">
    
    <div class="side-banner">
        <ul class="our-desc">
            <li>
                Follow your interests.
            </li>
            <li>
                Hear what people are talking about.
            </li>
            <li>
                Join the conversation.
            </li>

            <li *ngFor="let info of sideBarInfoContent">
                {{info}}
            </li>
            
        </ul>
        
    </div>
    <div class="side-content">

    </div>
</div>